@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --background-blue: #1de4e4;
  --color-white: #fff;
  --color-black: #000;
}
.background {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.671), #1de4e4);
  color: var(--color-white);
}
.historic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  margin-bottom: 10px;
}
.historic h1 {
  padding: 50px 30px 5px 30px;
}

#btnClear {
  display: flex;
  padding: 10px 30px;
  margin: 0 30px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
#btnClear:hover {
  color: #fff;
  background-color: var(--color-black);
  transition: ease-in-out 0.3s;
}

.historic li {
  padding: 0 30px;
  list-style: none;
}

.calculadora {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}
.btn {
  width: 50px;
  height: 50px;
  margin: 2px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: var(--color-white);
}
.btn:hover {
  background-color: var(--color-black);
}

.btnEqual {
  height: 105px;
}
.btn0 {
  width: 105px;
}

#result {
  width: 210px;
  height: 35px;
  padding: 0 5px;
  margin: 8px;
  font-size: 25px;
  text-align: right;
  background-color: var(--color-white);
  border: none;
  color: var(--color-black);
}
